@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    background-color: #2b2d31;
}

.container {
    display: flex;
}

.chessboard {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-top: 50px;
}


.square {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.corner-top-left {
    border-top-left-radius: 5px;
}

.corner-bottom-left {
    border-bottom-left-radius: 5px;
}

.corner-top-right {
    border-top-right-radius: 5px;
}

.corner-bottom-right {
    border-bottom-right-radius: 5px;
}

.moves {
    background-color: #313339;
    width: 400px;
    height: 480px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 5px;
    box-sizing: border-box;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

/* label {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: x-large;
    margin-top: 80px;
    margin-left: 20px;
    height: 0px;
    width: 0px;
} */

.textarea {
    font-family: 'IBM Plex Mono', monospace;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 20px;
    width: 300px;
    height: 475px;
    background-color: #313339;
    color: #fff;
    overflow-y: scroll;
    white-space: nowrap;
    overflow-x:auto;
    resize: none;
    border: none;
    border-radius: 5px;
}

.button-div {
    padding-top: 10px;
    padding-left: 970px;
    height: 10px;
    width: 20px;
}

.btn {
  background-color: #201c24;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.btn:hover {
  background-color: #374151;
}

.btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}